---
title: Features
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
extra_js:
  - features.js
  - bootstrap-tooltip.js
---

.page-container.landing-container.text-center
  %div
    %h1.page-headline
      Next-generation developer collaboration software
    %h2.page-subtitle
      Confidently and rapidly iterate towards a better product.

    .dev-cycle.hidden-xs.hidden-sm
      - data.development_cycle.each_with_index do |item, index|
        .step
          = icon("home/icon-step-#{index + 1}")
          .step-name-container
            .step-name
              #{item[:name]}
          - if index < data.development_cycle.length - 1
            .arrows
              %i.fa.fa-angle-double-right

    %a.btn.cta-btn.red.video-button
      %span.fa.fa-play-circle-o
      Watch the Video
    %object.video-container{data:"https://www.youtube.com/embed/PoBaY_rqeKA", frameborder:"0", allowfullscreen:true}


.page-container.table-of-contents.text-center
  %h3
    Table of Contents
  %ul
    - data.solutions.solutions.each do |key, solution|
      %li
        = link_to solution.display_name, "##{key}"

- data.solutions.solutions.each do |key, solution|
  .page-container.feature-gallery.text-center.animated{ id: key }
    .container.titles
      %h1
        = solution.display_name
      %h4
        = solution.description
      .features-description.features-description-separation
        - data.features.features.each do |feature|
          - if (feature.screenshot_url != nil && feature.solution == "#{key}")
            = partial "includes/features/feature-item-with-image", locals: { feature: feature }
        - data.features.features.each do |feature|
          - if (feature.screenshot_url == nil && feature.include_on_features_page != false && feature.solution == "#{key}")
            = partial "includes/features/feature-item", locals: { feature: feature }

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
